<h2>Editar curriculo</h2>

<div *ngIf="!exibirLista" class="curriculo-list-container">

<form>
    <label for="">ID</label>
    <input type="text" [(ngModel)]="curriculo.id" name="id"> <br>

    <label for="">Habilidades</label>
    <input type="text" [(ngModel)]="curriculo.habilidades" name="habilidades"> <br>

    <label for="">LinkedIn</label>
    <input type="text" [(ngModel)]="curriculo.linkedin" name="linkedin"> <br>

    <label for="">Experiência</label>
    <input type="text" [(ngModel)]="curriculo.experiencia" name="experiencia"> <br>

    <label for="">Formação</label>
    <input type="text" [(ngModel)]="curriculo.formacao" name="formacao"> <br>

    <button type="button" (click)="atualizarCurriculo(curriculo.id)">Editar curriculo</button>

</form>
</div>