<div class="property-details-page">
  <div class="container">
    <div class="property-grid">
      <div class="property-main">
        <div class="card gallery-card">
          <div *ngIf="imovel" class="property-details">
          <img *ngIf="imovel" [src]="'assets/img/' + imovel.imagemUrl" alt="Imagem do imóvel">

        <div class="card property-info-card">
          <div class="badges">
            <h1 id="property-title" class="property-title">{{imovel.titulo}}</h1>
          </div>
          <span id="badge-propertyType">{{imovel.descricao}}</span> 
          <br>
          <span id="badge-type">Tipo: {{imovel.tipo}}</span>
          <p id="property-address" class="property-address">Cidade: {{imovel.cidade}}</p>
          <p id="property-price" class="property-price">Salário: R$ {{imovel.preco}}</p>
        </div>
      </div>

      <div class="property-sidebar">
        <div class="card sidebar-card">
          <button id="btn-interest" class="btn btn-primary w-full" (click)="registrarInteresse(imovel?.id)">Tenho interesse</button>
        </div>
      </div>
    </div>
  </div>
</div>
