<nav class="navbar">
  <div class="navbar-container">
    <a routerLink="/" class="navbar-logo">Imobiliaria Prime</a>

    <div class="navbar-buttons">

      @if (auth.isAuthenticated()) {
        <span>Bem-vindo, {{ auth.usuarioAtual().nome }}</span>
        <a routerLink="/login">
        <button (click)="auth.logout()" class="btn-outline">Sair</button>
        </a>
      }

      @if (auth.getPerfilUsuario() === 'corretor') {
        <a routerLink="/dashboard" class="navLink">
          <button class="btn-primary">Dashboard</button>
        </a>
      }

      @if (auth.getPerfilUsuario() === 'cliente') {
        <a routerLink="/meus-interesses" class="navLink">
          <button class="btn-primary">Meus Interesses</button>
        </a>
      }

      @if (!auth.isAuthenticated()) {
        <a routerLink="/login" class="navLink">
          <button class="btn-outline">Entrar</button>
        </a>
        <a routerLink="/register-cliente" class="navLink">
          <button class="btn-primary">Cadastrar</button>
        </a>
      }
    </div>
  </div>
</nav>


