<div class="dashboard-page">
  <div class="container">
    <div class="dashboard-header">
      <div>
        <h1 class="dashboard-title">Dashboard do Corretor</h1>
      </div>
      <button class="btn btn-primary" (click)="mostrarFormulario = !mostrarFormulario">
        + Cadastrar Imóvel
      </button>
    </div>

    <div *ngIf="mostrarFormulario" class="mostrar-formulario">
      <form (ngSubmit)="cadastrarImovel()">
        <input type="text" placeholder="Título" [(ngModel)]="novoImovel.titulo" name="titulo" required />
        <input type="text" placeholder="Cidade" [(ngModel)]="novoImovel.cidade" name="cidade" required />
        <input type="text" placeholder="Tipo" [(ngModel)]="novoImovel.tipo" name="tipo" required />
        <input type="text" placeholder="Preço" [(ngModel)]="novoImovel.preco" name="preco" required />
        <textarea placeholder="Descrição" [(ngModel)]="novoImovel.descricao" name="descricao"></textarea>
        <input type="text" placeholder="URL da imagem" [(ngModel)]="novoImovel.imagemUrl" name="imagemUrl" />
        <button type="submit" class="btn btn-success mt-4">Salvar Imóvel</button>
      </form>
    </div>

    <div class="card mt-6">
      <div class="card-header">
        <h2 class="card-title">Meus Imóveis</h2>
        </div>
        </div>
        <div class="imoveis-lista">
        <div *ngFor="let imovel of imoveis">
        <h3>{{ imovel.titulo }}</h3>
        <p> {{ imovel.cidade }} - R$ {{ imovel.preco }}</p>  
      </div>
    </div>
  </div>
