<h2>Cadastrar</h2>

<form class="curriculo-form">
  <label for="">ID</label>
  <input type="text" [(ngModel)]="curriculo.id" name="id"> <br>

  <label for="">Habilidades</label>
  <input type="text" [(ngModel)]="curriculo.habilidades" name="habilidades"> <br>

<label for="">LinkedIn</label>
  <input type="text" [(ngModel)]="curriculo.linkedin" name="linkedin"> <br>

  <label for="">Formação</label>
  <input type="text" [(ngModel)]="curriculo.formacao" name="formacao"> <br>

  <label for="">Experiência</label>
  <input type="text" [(ngModel)]="curriculo.experiencia" name="experiencia"> <br>

  <button type="button" (click)="cadastrarCurriculo()">Cadastrar curriculo</button>

</form>

<section class="listar-curriculos">
    <table class="table">
        <thead>
            <tr>
                <th>Código do curriculo</th>
                <th>Habilidades</th>
                <th>LinkedIn</th>
                <th>Formação</th>
                <th>Experiência</th>
            </tr>
        </thead>
        <tbody>
            <tr class="vaga-row" *ngFor="let curriculo of curriculos">
                <td>{{curriculo.id}}</td>
                <td>{{curriculo.habilidades}}</td>
                <td>{{curriculo.linkedin}}</td>
                <td>{{curriculo.formacao}}</td>
                <td>{{curriculo.experiencia}}</td>
                <td>
                    <button class="btn-listar" type="button" (click)="listarCurriculoPorId(curriculo)">
                        Listar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</section>

<div class="rodape"></div>
