<h2>Registrar pedido</h2>
<label>Cliente</label>
<select [(ngModel)]="clienteSelecionadoId">
    <option value="">Selecione um cliente</option>
    <option *ngFor="let cliente of clientes" [value]="cliente.id">{{cliente.nome}}</option>
</select>

<h3>Produtos:</h3>
<div *ngFor="let produto of produtos">
    <label>
        <input type="checkbox" [value]="produto.id" (change)="selecionarProdutos(produto.id.toString())">
        {{ produto.nome }} - R$ {{ produto.preco }}
    </label>
</div>

<h3>Desconto:</h3>
<input type="number" [(ngModel)]="desconto" min="0" max="100">
<br>
<button (click)="salvarPedido()">Registrar pedido</button>

