<section class="hero-section">
  <section class="featured-section">
    <div class="container">
      <div class="text-center mb-16">
        <h2 class="title">Propriedades em Destaque</h2>
        <p class="subtitle">
          Explore nossa seleção exclusiva de imóveis premium
        </p>
      </div>

      <div id="property-grid" class="property-grid">
        <div class="propety-card" *ngFor="let imovel of imoveis">
          <img [src]="imovel.imagemUrl" alt="..." class="property-image"/>
          <h3>{{imovel.titulo}}</h3>
          <p><strong>Tipo:</strong> {{imovel.tipo}}</p>
          <p><strong>Cidade:</strong> {{imovel.cidade}}</p>
          <p><strong>Preço:</strong> {{imovel.preco}}</p>
          <button class="btn outline" [routerLink]="['/imovel', imovel.id]">Ver detalhes</button>
        </div>
      </div>
    </div>
  </section>
</section>